{% extends "layout.html"%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    {% block content %}
    <h1> Hello World !! </h1>
    <h2> Django Internship task 1 </h2>
   <pre>
    Step 1 : Create a new html page named “task.html”

    Step 2 : Create a basic css file named “style.css”

    Step 3 : We need a new url localhost:8000/url/task.

    Step 4 : We need a view which will respond with task.html

    Step 5 : We need dynamic data on our html page


   </pre>
   {% endblock %}
</body>
</html>